services:
	moduleManager:
		setup:
			- addModule(Crm\SegmentModule\SegmentModule())

	segmentsRepository: Crm\SegmentModule\Repositories\SegmentsRepository
	segmentGroupsRepository: Crm\SegmentModule\Repositories\SegmentGroupsRepository
	segmentsValuesRepository: Crm\SegmentModule\Repositories\SegmentsValuesRepository

	segmentFactory:
		factory: Crm\SegmentModule\Models\SegmentFactory

	segmentRecalculationConfig:
		factory: Crm\SegmentModule\DI\SegmentRecalculationConfig

	segmentQueryValidator:
		factory: Crm\SegmentModule\Models\SegmentQueryValidator
		setup:
		    - addForbiddenTables('access_tokens')
		    - addForbiddenTables('admin_access')
		    - addForbiddenTables('admin_groups')
		    - addForbiddenTables('admin_groups_access')
		    - addForbiddenTables('admin_user_groups')

	- Crm\SegmentModule\Components\SegmentsSizeOverviewStackedGraphWidget\SegmentsSizeOverviewStackedGraphWidgetFactory
	- Crm\SegmentModule\Commands\UpdateCountsCommand
	- Crm\SegmentModule\Commands\ProcessCriteriaSegmentsCommand
	- Crm\SegmentModule\Commands\CompressSegmentsValues
	- Crm\SegmentModule\Forms\SegmentFormFactory
	- Crm\SegmentModule\Forms\SegmentRecalculationSettingsFormFactory
	- Crm\SegmentModule\Forms\AdminFilterFormFactory
	- Crm\SegmentModule\Api\ListApiHandler
	- Crm\SegmentModule\Api\DailyCountStats\DailySegmentValuesQuery
	- Crm\SegmentModule\Api\DailyCountStatsHandler
	- Crm\SegmentModule\Api\UsersApiHandler
	- Crm\SegmentModule\Api\CheckApiHandler
	- Crm\SegmentModule\Api\CriteriaHandler
	- Crm\SegmentModule\Api\ListGroupsHandler
	- Crm\SegmentModule\Api\CreateOrUpdateSegmentHandler
	- Crm\SegmentModule\Api\ShowSegmentHandler
	- Crm\SegmentModule\Api\CountsHandler
	- Crm\SegmentModule\Api\ItemsHandler
	- Crm\SegmentModule\Api\SegmentsListApiHandler
	- Crm\SegmentModule\Models\Criteria\Generator
	- Crm\SegmentModule\Models\Config
	- Crm\SegmentModule\Models\AdminFilterFormData
	- Crm\SegmentModule\Api\RelatedHandler
	- Crm\SegmentModule\Seeders\SegmentsSeeder
	- Crm\SegmentModule\Seeders\ConfigSeeder
	- Crm\SegmentModule\Segment\SegmentCriteria
	- Crm\SegmentModule\Events\BeforeSegmentCodeUpdateHandler
	- Crm\SegmentModule\Models\Config\SegmentSlowRecalculateThresholdFactory
