services:
	moduleManager:
		setup:
			- addModule(Crm\SegmentModule\SegmentModule())

	segmentsRepository: Crm\SegmentModule\Repositories\SegmentsRepository
	segmentGroupsRepository: Crm\SegmentModule\Repositories\SegmentGroupsRepository
	segmentsValuesRepository: Crm\SegmentModule\Repositories\SegmentsValuesRepository

	segmentFactory:
		factory: Crm\SegmentModule\Models\SegmentFactory

	segmentRecalculationConfig:
		factory: Crm\SegmentModule\DI\SegmentRecalculationConfig

	- Crm\SegmentModule\Commands\UpdateCountsCommand
	- Crm\SegmentModule\Commands\ProcessCriteriaSegmentsCommand
	- Crm\SegmentModule\Commands\CompressSegmentsValues
	- Crm\SegmentModule\Forms\SegmentFormFactory
	- Crm\SegmentModule\Forms\SegmentRecalculationSettingsFormFactory
	- Crm\SegmentModule\Api\ListApiHandler
	- Crm\SegmentModule\Api\UsersApiHandler
	- Crm\SegmentModule\Api\CheckApiHandler
	- Crm\SegmentModule\Api\CriteriaHandler
	- Crm\SegmentModule\Api\ListGroupsHandler
	- Crm\SegmentModule\Api\CreateOrUpdateSegmentHandler
	- Crm\SegmentModule\Api\ShowSegmentHandler
	- Crm\SegmentModule\Api\CountsHandler
	- Crm\SegmentModule\Api\SegmentsListApiHandler
	- Crm\SegmentModule\Models\Criteria\Generator
	- Crm\SegmentModule\Api\RelatedHandler
	- Crm\SegmentModule\Seeders\SegmentsSeeder
	- Crm\SegmentModule\Seeders\ConfigSeeder
