<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
{*    <meta name="viewport" content="width=device-width, initial-scale=1.0">*}
    <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"
            rel="stylesheet"
    />
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@7.x/css/materialdesignicons.min.css" rel="stylesheet">
    <title>Segmenter</title>
    <script type="module" crossorigin src="/layouts/admin/segmenter/index-BrHbCoVg.js"></script>
    <link rel="stylesheet" crossorigin href="/layouts/admin/segmenter/index-Nq7ZRuCe.css">
</head>
<body>

{var $cancelPath = '/segment/stored-segments/'}
{if $segment}
    {var $cancelPath = '/segment/stored-segments/show/' . $segment->id}
{/if}
<script type="text/javascript">
    window.Segments = {
        config: {
            AUTH_TOKEN: {$segmentAuth},
            API_HOST: {$crmHost},
            CANCEL_PATH: {$cancelPath},
            SEGMENT_ID: {if $segment}{$segment->id}{else}null{/if},
            TIME_ZONE: {date_default_timezone_get()}
        }
    };
</script>
<div id="app"></div>

<script type="text/javascript" src="/layouts/default/js/iframeResizer.contentWindow.min.js"></script>

</body>
</html>